@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
  font-family: "Poppins", sans-serif;
}






/* Header Section Style */
/* Nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
}
.name{
    color: #3A3A3A;
    font-size: 1.5rem;
}
.nav-links-icons{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.search-icon{
    width: 1.5rem;
}
.shopping-cart{
    width: 1.8rem;
}
.nav-links-icons a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
}
/* Header Contents */
.header-content{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
.header-txt{
    width: 36.3rem;
}
.header-image{
    position: relative;
}
.header-image img:first-child{
    display: block;
    width: 15rem;
}
.header-image img:last-child{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 14rem;
}
.header-image img{
    width: 27.5rem;
}


